@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Source+Code+Pro:400,600');

html, html * {
	font-family: 'Source Code Pro', monospace;
	font-size: 13px;
	font-weight:400;
	color:rgba(30,50,40,1)
}

body {
	margin:0;
	background: rgba(250,250,250,1)
}

header {
    background: #fff;
    margin: 0;
    padding: 12px;
    border-bottom:5px solid rgb(240,40,30);
    position: sticky;
    z-index:999;
    top:0;
}

h1 {
	text-transform: uppercase;
    font-weight: 600;
    font-size:14px;
    display: inline-block;
}

h2 {
	font-weight: 600;
}

form#search {
    display: inline;
    margin-left: 2em;
}

form#search input {
    padding: 1em .75em;
    width: 90%;
    max-width: 400px;
    border: 1px solid rgb(190,190,190);
}

.preview {
	background-color: rgb(200,200,200);
    width:20%;
	float:left;
    margin: 0; padding: 0;
    transition: all .2s ease-out
}

@media screen and (max-width: 1050px) {
  .preview {
    width:25%;
  }
}


@media screen and (max-width: 785px) {
  .preview {
    width:33%;
  }
}

@media screen and (max-width: 666px) {
  form#search {
    margin-left:0;
  }
}

@media screen and (max-width: 545px) {
  .preview {
    width:50%;
  }
}
.preview .image {
	background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height:250px;
    width:250px;
    z-index:1;
    position: absolute;
}

.preview .overlay {
	background: rgba(255,0,0,.25);
	height:100%; width:100%;
	z-index: 2;
	position: relative;
	transition: all ease-out .2s
}

.preview h2 {
	display: inline-block;
	margin-top:1em;
    background: rgba(255,255,255,.7);
    float: left;
    position: relative;
    padding: 5px 5px 5px 15px;
    width: 75%;
    font-size: 13px;
    z-index: 3;
}

.preview:hover {
	transform: scale(1.125);
    z-index: 999;
    position: relative;
    cursor: pointer;
 }

 .preview:hover .overlay {
    opacity:0;
 }

 /*.preview:hover .overlay {
 	opacity: 0
 }*/

 .preview:hover .image {
 	filter: none;
 	-webkit-filter:none;
 }
/*
 section#content {
    opacity: 0;
    transition: opacity ease-in 1.5s;
 }*/

 img.release_cover {
    width:420px;
    max-width: 100%;
    height:auto;
    float:left;
    margin-right:2em;
 }

 h2 {
    font-weight: 600;
    font-weight14px;
 }